@import '../../styles/common';

.header{
    background-color: $main-color;
    display: flex;
    justify-content: center;
    color: $text-color;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1110px;
    margin: 15px 0px 80px 0px;
}

.headerList{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        background-color: #1a4a8d;
    }
}

.headerListItem.Active{
    border: 1px solid $text-color;
    background-color: #1a4a8d;
}

.headerTitle{
font-size: 45px;
}

.headerDesc{
    margin: 20px 0px;
    font-size: 25px;
}

.headerBtn{
    background-color: #0071c2;
    color: $text-color;
    font-weight: 700;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: #00487a;
    }
}

.headerSearch{
    height: 50px;
    background-color: $text-color;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    //justify-content: space-between;
   // padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1110px;
}

.headerIcon{
    color: lightgray;
}
.headerSearchItem, .headerSearchItemBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30%;
    padding: 0px 8px;
    height: 100%;
    border-right: 3px solid #febb02;
}

.headerSearchInput{
    border: none;
    outline: none;
    width: 80%;
}

.headerSearchText{
    color: #000;
    cursor: pointer;
}

.datePicker{
    position: absolute;
    top: 60px;
}
.headerSearchItemBtn{
    height: 100%;
    width: 10%;
    padding: 0px;
}
.headerSearchItemBtn .headerBtn{
    height: 50px;
    padding: 0px 30px;
}
.headerSearchIcon{
    color: #000;
    justify-self: end;
    cursor: pointer;
}
.counterPopup{
    position: absolute;
    top: 60px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    width: 20%;
    padding: 10px;
}